<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/colors.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>UTFSM CSES Leaderboard</title>
</head>
<body class="color-grisaceo-fondo">

    <!--  Header -->
    <div class="m-5 text-center">
        <h1 class="text-white text-3xl font-bold"> CSES UTFSM Leaderboard </h1>
    </div>

    <div id="solved" class="flex w-screen">
        <div class="m-auto">
            <table class="table-fixed border-spacing-4">
                <thead>
                  <tr>
                    <th class="text-white">Usuario</th>
                    <th class="text-white">Cantidad</th>
                  </tr>
                </thead>

                <tbody id="solved-insert">
                </tbody>
                
              </table>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/cses.js')}}"></script>
</body>
</html>